# Node.js modules
/node_modules/

# Logs
*.log

# Environment variable files
.env

# MacOS specific files
.DS_Store

# IDE config files (VS Code, etc.)
.vscode/
.idea/

# npm package lock
package-lock.json
